<section id="call" class={{include.class}}>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Call for Papers</h2>
        <!--h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3-->
      </div>
    </div>
    <div class="row text-justify">
      <div class="col-md-12">
        <p class="large text-muted">
          The goal of this workshop is to bring together researchers from academia and industry to discuss various aspects of knowledge-enhanced information retrieval, including models, techniques, data collection and evaluation. this workshop holds a steadfast commitment to fostering collaboration among researchers engaged in the realm of knowledge integration for IR, RecSys and NLP. This gathering will serve as a platform to not only deliberate upon the advantages and hurdles intrinsic to the development of knowledge-enhanced PLMs, IR models and RecSys models but also to facilitate in-depth discussions concerning the same.</p>
        <p class="large text-muted">
          The workshop will focus on models, techniques, data collection, and evaluation methodologies for various knowledge-enhanced information retrieval problems. These include but are not limited to:
        </p>  
        <ul class="large text-muted">
          <ul>
            <li>Knowledge-enhanced information retrieval models.  </li>
            <li>Knowledge-enhanced approaches for query processing, including query parsing, query expansion, relevance feedback, and query reformulation. </li>
            <li>Knowledge-enhanced recommendation models.  </li>
            <li>Knowledge-enhanced language models for retrieval. </li>
            <li>Data augmentation for knowledge-enhanced information retrieval. </li>
            <li>Knowledge retrieval from unstructured data and structured data. </li>
            <li>Applications of knowledge-enhanced retrievals, such as dialogue systems, question answering, summarisation and other domain-specific applications.</li>
            <li>Data collection for knowledge-enhanced information retrieval.</li>
            <li>Evaluation methodologies for knowledge-enhanced retrieval.</li>
            <li>The interpretability and analysis of knowledge-enhanced models for IR, including potential biases and ethical considerations.</li>
          </ul>
        </ul>
        <p class="large text-muted">

          Submitted papers (.pdf format) must use the template of ACM CIKM 2023. Please remember to add Concepts and Keywords. Submissions can be of varying length from 4 to 8 pages, plus additional pages for the reference pages, i.e., the reference page(s) are not counted to the page limit of 4 to 8 pages. There is no distinction between long and short papers, but the authors may decide on the appropriate length of the paper. All papers will undergo the same review process and review period. Paper submissions must conform to the ``double-blind'' review policy. All papers will be peer-reviewed by experts in the field. Acceptance will be based on relevance to the workshop, scientific novelty, and technical quality. 
        </p>

        <p class="large text-muted">

          Submission site: <a href="https://easychair.org/conferences/?conf=genrec23">https://easychair.org/conferences/?conf=keir24</a>. The proceedings of the KEIR workshop will be non-archival in nature. Authors retain the right to subsequently submit their work to other peer-reviewed venues for further dissemination. This approach encourages authors to explore wider avenues for sharing their research outcomes within the community.

        </p>

      </div>
    </div>
  </div>
</section>
