<section id="call" class=>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Call for Papers</h2>
        <!--h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3-->
      </div>
    </div>
    <div class="row text-justify">
      <div class="col-md-12">
        <p class="large text-muted">
          This workshop holds a steadfast commitment to fostering collaboration among researchers engaged
          in the realm of knowledge integration for IR, RecSys and NLP. This gathering will serve as a platform to not
          only deliberate upon the advantages and hurdles intrinsic to the development of knowledge-enhanced PLMs, IR
          models and RecSys models but also to facilitate in-depth discussions concerning the same.</p>
        <p class="large text-muted">
          The workshop will focus on models, techniques, data collection, and evaluation methodologies for various
          knowledge-enhanced information retrieval problems. These include but are not limited to:
        </p>
        <ul class="large text-muted">
          <ul>
            <li>Knowledge-enhanced information retrieval models. </li>
            <li>Knowledge-enhanced approaches for query processing, including query parsing, query expansion,
              relevance feedback, and query reformulation. </li>
            <li>Knowledge-enhanced recommendation models. </li>
            <li>Knowledge-enhanced language models for retrieval. </li>
            <li>Data augmentation for knowledge-enhanced information retrieval. </li>
            <li>Knowledge retrieval from unstructured data and structured data. </li>
            <li>Applications of knowledge-enhanced retrievals, such as dialogue systems, question answering,
              summarisation and other domain-specific applications.</li>
            <li>Data collection for knowledge-enhanced information retrieval.</li>
            <li>Evaluation methodologies for knowledge-enhanced retrieval.</li>
            <li>The interpretability and analysis of knowledge-enhanced models for IR, including potential biases and
              ethical considerations.</li>
          </ul>
        </ul>
        <p class="large text-muted">

          There is not a distinction between long and short papers. Authors can submit papers of varying
          length from 6 pages to up to 12 pages, with unlimited additional pages for references and supplementary
          materials. Submissions should be anonymised for a double-blind review and we do not set an anonymity
          period.
          </br> </br>
          Authors should consult Springer’s authors’ guidelines and use their proceedings templates to prepare the
          submission. The Microsoft Word and LaTeX versions of the template can be found at <a
            href="https://www.springer.com/gp/computer-science/lncs/conference-proceedings-guidelines">https://www.springer.com/gp/computer-science/lncs/conference-proceedings-guidelines</a>.
          Submissions should
          be anonymized for a double-blind review and we do not set an anonymity period.
          </br> </br>

          Submission site: <a
            href="https://easychair.org/conferences/?conf=keirecir2024">https://easychair.org/conferences/?conf=keirecir2024</a>.
          The proceedings of the KEIR workshop will be non-archival in nature. Authors retain the right to
          subsequently submit their work to other peer-reviewed venues for further dissemination. This approach
          encourages authors to explore wider avenues for sharing their research outcomes within the community.

          </br></br>
          All papers will undergo the same review process and review period. All submissions will be peer-reviewed
          by experts in the field. Acceptance will be based on relevance to the workshop, scientific novelty, and
          technical quality.
          </br> </br>
          The proceedings of the KEIR workshop will be non-archival in nature. Authors retain the right to
          subsequently submit their work to other peer-reviewed venues for further dissemination.

          </br></br>
          We accept submissions of the following types:
        <ul>
          <li>Original work that is not published or submitted elsewhere.</li>
          <li>Work that is submitted elsewhere and is still under review. In this case, the authors should make sure
            that you are not violating the submission guidelines and anonymity requirements of the other venue(s).
          </li>
          <li>Work that has been rejected at ECIR 2024.</li>
        </ul>
        </p>

      </div>
    </div>
  </div>
</section>